{%extends "app.html"%}
{%block content%}
<form action="/order" method="POST">
    {{ form.hidden_tag() }}
    <div>
        <label for="productname">Select a Product:</label>
        <select name="productname" id="productname" class="form-control">
            {% for tuple in products %}
             {% for product in tuple %}
                <option value="{{product}}">{{ product}}</option>
                {% endfor %}
            {% endfor %}
        </select>
    </div>
      {% if form.productname.errors %}
      <ul class="text-danger">
          {% for error in form.productname.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      </ul>
{% endif %}
<div class="form-group">
    {{form.quantity.label(for="Productquantity")}}
    {{form.quantity(id="Productquantity",class="form-control")}}
    </div>
    {% if form.quantity.errors %}
    <ul class="text-danger">
        {% for error in form.quantity.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
{{ form.submit(class="btn btn-dark mt-4")}}
</form>
{%endblock%}
